.container {
  background-color: #1f1f24;
  /* box-shadow: 0 8px 16px 0 #41B6E6; */
  -webkit-box-shadow: 0 0 8px 4px #41B6E6;
  -moz-box-shadow: 0 0 8px 4px #41B6E6;
  box-shadow: 0 0 8px 4px #41B6E6;
  transition: 0.3s;
  width: 500px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container:hover {
  /* box-shadow: 0 16px 32px 0 #41B6E6; */
  -webkit-box-shadow: 0 0 16px 8px #41B6E6;
  -moz-box-shadow:  0 0 16px 8px #41B6E6;
  box-shadow:  0 0 16px 8px #41B6E6;
  transform: scale(1.05);
}

.cardInfo {
  margin-top: 10px;
  position: relative;
  padding: 2px 15px;
}

.movieTitle {
  font-size: 0.475vw;
}

.posterImg {
  width: 170px;
  height: 250px;
  padding-top: 25px;
  padding-left: 25px;
}

.cardButton {
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  border-style: none;
  font-size: 20px;
  color: white;
  background-color: #41B6E6;
  transition: transform 200ms;
  cursor: pointer;

  position: absolute;
  bottom: 20px;
  right: 77.5px;
  margin-bottom: 10px
}

.cardButton:hover {
  transform: scale(1.25);
}